<div class="wrapper">
	<div class="header">
		<div class="top">
			<nav>
				<header>
					<%= link_to("Railaware", {:action => 'index'}, :class => 'logo') %>
				</header>
				<ul>
					<%= link_to("Home", {:action => 'index'}) %>
					<%= link_to("View Reports", {:action => 'show'}) %>	
					<%= link_to "Login", :login %>
				</ul>
			</nav>
		</div>
	</div>
	
	<div class="content">
		<% if !flash[:notice].blank? %>
			<% if flash[:notice][0] == "Please check your email to confirm your registration." %>
				<div class="goodnotice">
					<% flash[:notice].each_with_index do |message, index| %>
						<p><%= message %></p>
					<% end %>
				</div>
			<% else %>
				<div class="notice">
					<% flash[:notice].each_with_index do |message, index| %>
						<% if index != 0 %>
						<p><%= message %></p>
						<% end %>
					<% end %>
				</div>
			<% end %>
			
		<% end %>
		<%= stylesheet_link_tag("http://yui.yahooapis.com/pure/0.6.0/pure-min.css") %>
		<%=form_for(:user, :url => {:action => "create_user"}, :html => {:multipart => true}) do |f| %>
		<div id="register" class='pure-form pure-form-aligned'>
			<fieldset>
				<div class="pure-control-group">
					<label><%= f.label(:username, "Username") %></label>
					<% if session[:user] %>
					<%= f.text_field(:username, :value => session[:user][:username]) %>
					<% else %>
					<%= f.text_field(:username) %>
					<% end %>
				</div>
				
				<div class="pure-control-group">
					<label><%= f.label(:password, "Password") %></label>
					<%= f.password_field(:password) %>
				</div>
				
				<div class="pure-control-group">
					<label><%= f.label(:password_confirmation, "Password Confirmation") %></label>
					<%= f.password_field(:password_confirmation) %>
				</div>
				
				<div class="pure-control-group">
					<label><%= f.label(:email, "Email") %></label>
					<% if session[:user] %>
					<%= f.text_field(:email, :value => session[:user][:email]) %>
					<% else %>
					<%= f.text_field(:email) %>
					<% end %>
				</div>
				
				<div class="pure-controls">
					<%= submit_tag("Submit", :class => "pure-button pure-button-primary") %>
				</div>
			</fieldset>
		</div>
		
		<% end %>
	</div>
	<% session[:user] = nil %>
	<div class="footer">
		<footer>
			<p>&copy; RailAware 2015</p>
		</footer>
	</div>
</div>