<div class="wrapper">
	<div class="header">
		<div class="top">
			<nav>
				<header>
					<%= link_to("Railaware", {:action => 'index'}, :class => 'logo') %>
				</header>
				<ul>
					<%= link_to("Home", {:action => 'index'}) %>
					<%= link_to("View Reports", {:action => 'show'}) %>	
					<%= link_to("Report A Train", {:action => 'report'}) %>
					<%= link_to "Logout", :logout, method: :post %>					
				</ul>
			</nav>
		</div>
	</div>
	
	<div class="content" id="reportformcontainer">
	<% if !flash[:notice].blank? %>
		<div class="notice">
			<% flash[:notice].each_with_index do |message, index| %>
				<% if index != 0 %>
				<p><%= message %></p>
				<% end %>
			<% end %>
		</div>
	<% end %>
		<%= stylesheet_link_tag("http://yui.yahooapis.com/pure/0.6.0/pure-min.css") %>
		<%= form_for(:report, :url => {:action => "create_report"}, :html => {:multipart => true}) do |f| %>
			<div id="report" class='pure-form pure-form-aligned'>
				<fieldset>
					<div class="pure-control-group">
						<label><%= f.label(:trainnumber, "Train Symbol/#") %></label>
						<% if session[:report] %>
						<%= f.text_field(:trainnumber, :value => session[:report][:trainnumber]) %>
						<% else %>
						<%= f.text_field(:trainnumber) %>
						<% end %>
					</div>
					
					<div class="pure-control-group">
						<label><%= f.label(:loconumber, "Locomotive #") %></label>
						<% if session[:report] %>
						<%= f.text_field(:loconumber, :value => session[:report][:loconumber]) %>
						<% else %>
						<%= f.text_field(:loconumber) %>
						<% end %>
					</div>
					
					<div class="pure-control-group">
						<label><%= f.label(:locotype, "Locomotive Type") %></label>
						<% if session[:report] %>
						<%= f.text_field(:locotype, :value => session[:report][:locotype]) %>
						<% else %>
						<%= f.text_field(:locotype) %>
						<% end %>
					</div>
					
					<div class="pure-control-group">
						<label><%= f.label(:railroad, "Locomotive Railroad") %></label>
						<% if session[:railroad] %>
							<% if Report::RAILROAD_LIST.include?(session[:railroad]) %>
							<%= select_tag :railroad, options_for_select(Report::RAILROAD_LIST, session[:railroad]) %>
							<% else %>
							<%= select_tag :railroad, options_for_select(Report::RAILROAD_LIST, "Other") %>
							<% end %>
						<% else %>
						<%= select_tag :railroad, options_for_select(Report::RAILROAD_LIST) %>
						<% end %>
					</div>
					
					<div id="loco1otherrailroad" class="pure-control-group otherrailroad" style="display:none;">
						<label><%= f.label(:railroad, "Please enter a railroad") %></label>
						<% if session[:railroad] %>
							<% if Report::RAILROAD_LIST.exclude?(session[:railroad]) %>
							<%= f.text_field(:railroad, :value => session[:railroad]) %>
							<% else %>
							<%= f.text_field(:railroad) %>
							<% end %>
						<% else %>
						<%= f.text_field(:railroad) %>
						<label><%= check_box_tag "railroadsuggestion", "railroadsuggestion", false %>Suggest this railroad</label>
						<% end %>
					</div>
					
					<div class="pure-control-group">
						<label>
							<% if session[:twocheck] %>
							<%= check_box_tag "twocheck", "twocheck", true, :onclick => 'addLoco2()'%>
							<% else %>
							<%= check_box_tag "twocheck", "twocheck", false, :onclick => 'addLoco2()'%>
							<% end %>
							Add another locomotive
						</label>
					</div>
					
					<div id="loco2num" class="pure-control-group" style="display:none;">
						<label><%= f.label(:loconumber2, "Locomotive # 2") %></label>
						<% if session[:report] %>
						<%= f.text_field(:loconumber2, :value => session[:report][:loconumber2]) %>
						<% else %>
						<%= f.text_field(:loconumber2) %>
						<% end %>
					</div>
					
					<div id="loco2type" class="pure-control-group" style="display:none;">
						<label><%= f.label(:locotype2, "Locomotive Type 2") %></label>
						<% if session[:report] %>
						<%= f.text_field(:locotype2, :value => session[:report][:locotype2]) %>
						<% else %>
						<%= f.text_field(:locotype2) %>
						<% end %>
					</div>
					
					<div id="loco2railroad" class="pure-control-group" style="display:none;">
						<label><%= f.label(:railroad2, "Locomotive Railroad 2") %></label>
						<% if session[:railroad2] %>
							<% if Report::RAILROAD_LIST.include?(session[:railroad2]) %>
							<%= select_tag :railroad2, options_for_select(Report::RAILROAD_LIST, session[:railroad2]) %>
							<% else %>
							<%= select_tag :railroad2, options_for_select(Report::RAILROAD_LIST, "Other") %>
							<% end %>
						<% else %>
						<%= select_tag :railroad2, options_for_select(Report::RAILROAD_LIST) %>
						<% end %>
					</div>
					
					<div id="loco2otherrailroad" class="pure-control-group otherrailroad" style="display:none;">
						<label><%= f.label(:railroad2, "Please enter a railroad") %></label>
						<% if session[:railroad2] %>
							<% if Report::RAILROAD_LIST.exclude?(session[:railroad2]) %>
							<%= f.text_field(:railroad2, :value => session[:railroad2]) %>
							<% else %>
							<%= f.text_field(:railroad2) %>
							<% end %>
						<% else %>
						<%= f.text_field(:railroad2) %>
						<label><%= check_box_tag "railroadsuggestion", "railroadsuggestion", false %>Suggest this railroad</label>
						<% end %>
					</div>
					
					<div id="loco2direction" class="pure-control-group" style="display:none;">
						<label><%= f.label(:direction2, "Face Direction") %></label>
						<% if session[:direction2] %>
						<%= select_tag :direction2, options_for_select(["Front", "Rear"], session[:direction2]) %>
						<% else %>
						<%= select_tag :direction2, options_for_select(["Front", "Rear"]) %>
						<% end %>
					</div>
					
					<div id="loco3check" class="pure-control-group" style="display:none;">
						<label>
							<% if session[:threecheck] %>
							<%= check_box_tag "threecheck", "threecheck", true, :onclick => 'addLoco3()' %>
							<% else %>
							<%= check_box_tag "threecheck", "threecheck", false, :onclick => 'addLoco3()' %>
							<% end %>
							Add another locomotive
						</label>
					</div>
					
					<div id="loco3num" class="pure-control-group" style="display:none;">
						<label><%= f.label(:loconumber3, "Locomotive # 3") %></label>
						<% if session[:report] %>
						<%= f.text_field(:loconumber3, :value => session[:report][:loconumber3]) %>
						<% else %>
						<%= f.text_field(:loconumber3) %>
						<% end %>
					</div>
					
					<div id="loco3type" class="pure-control-group" style="display:none;">
						<label><%= f.label(:locotype3, "Locomotive Type 3") %></label>
						<% if session[:report] %>
						<%= f.text_field(:locotype3, :value => session[:report][:locotype3]) %>
						<% else %>
						<%= f.text_field(:locotype3) %>
						<% end %>
					</div>
					
					<div id="loco3railroad" class="pure-control-group" style="display:none;">
						<label><%= f.label(:railroad3, "Locomotive Railroad 3") %></label>
						<% if session[:railroad3] %>
							<% if Report::RAILROAD_LIST.include?(session[:railroad3]) %>
							<%= select_tag :railroad3, options_for_select(Report::RAILROAD_LIST, session[:railroad3]) %>
							<% else %>
							<%= select_tag :railroad3, options_for_select(Report::RAILROAD_LIST, "Other") %>
							<% end %>
						<% else %>
						<%= select_tag :railroad3, options_for_select(Report::RAILROAD_LIST) %>
						<% end %>
					</div>
					
					<div id="loco3otherrailroad" class="pure-control-group otherrailroad" style="display:none;">
						<label><%= f.label(:railroad3, "Please enter a railroad") %></label>
						<% if session[:railroad3] %>
							<% if Report::RAILROAD_LIST.exclude?(session[:railroad3]) %>
							<%= f.text_field(:railroad3, :value => session[:railroad3]) %>
							<% else %>
							<%= f.text_field(:railroad3) %>
							<% end %>
						<% else %>
						<%= f.text_field(:railroad3) %>
						<label><%= check_box_tag "railroadsuggestion", "railroadsuggestion", false %>Suggest this railroad</label>
						<% end %>
					</div>
					
					<div id="loco3direction" class="pure-control-group" style="display:none;">
						<label><%= f.label(:direction3, "Face Direction") %></label>
						<% if session[:direction3] %>
						<%= select_tag :direction3, options_for_select(["Front", "Rear"], session[:direction3]) %>
						<% else %>
						<%= select_tag :direction3, options_for_select(["Front", "Rear"]) %>
						<% end %>
					</div>
					
					<div id="loco4check" class="pure-control-group" style="display:none;">
						<label>
							<% if session[:fourcheck] %>
							<%= check_box_tag "fourcheck", "fourcheck", true, :onclick => 'addLoco4()' %>
							<% else %>
							<%= check_box_tag "fourcheck", "fourcheck", false, :onclick => 'addLoco4()' %>
							<% end %>
							Add another locomotive
						</label>
					</div>
					
					<div id="loco4num" class="pure-control-group" style="display:none;">
						<label><%= f.label(:loconumber4, "Locomotive # 4") %></label>
						<% if session[:report] %>
						<%= f.text_field(:loconumber4, :value => session[:report][:loconumber4]) %>
						<% else %>
						<%= f.text_field(:loconumber4) %>
						<% end %>
					</div>
					
					<div id="loco4type" class="pure-control-group" style="display:none;">
						<label><%= f.label(:locotype4, "Locomotive Type 4") %></label>
						<% if session[:report] %>
						<%= f.text_field(:locotype4, :value => session[:report][:locotype4]) %>
						<% else %>
						<%= f.text_field(:locotype4) %>
						<% end %>
					</div>
					
					<div id="loco4railroad" class="pure-control-group" style="display:none;">
						<label><%= f.label(:railroad4, "Locomotive Railroad 4") %></label>
						<% if session[:railroad4] %>
							<% if Report::RAILROAD_LIST.include?(session[:railroad4]) %>
							<%= select_tag :railroad4, options_for_select(Report::RAILROAD_LIST, session[:railroad4]) %>
							<% else %>
							<%= select_tag :railroad4, options_for_select(Report::RAILROAD_LIST, "Other") %>
							<% end %>
						<% else %>
						<%= select_tag :railroad4, options_for_select(Report::RAILROAD_LIST) %>
						<% end %>
					</div>
					
					<div id="loco4otherrailroad" class="pure-control-group otherrailroad" style="display:none;">
						<label><%= f.label(:railroad4, "Please enter a railroad") %></label>
						<% if session[:railroad4] %>
							<% if Report::RAILROAD_LIST.exclude?(session[:railroad4]) %>
							<%= f.text_field(:railroad4, :value => session[:railroad4]) %>
							<% else %>
							<%= f.text_field(:railroad4) %>
							<% end %>
						<% else %>
						<%= f.text_field(:railroad4) %>
						<label><%= check_box_tag "railroadsuggestion", "railroadsuggestion", false %>Suggest this railroad</label>
						<% end %>
					</div>
					
					<div id="loco4direction" class="pure-control-group" style="display:none;">
						<label><%= f.label(:direction4, "Face Direction") %></label>
						<% if session[:direction4] %>
						<%= select_tag :direction4, options_for_select(["Front", "Rear"], session[:direction4]) %>
						<% else %>
						<%= select_tag :direction4, options_for_select(["Front", "Rear"]) %>
						<% end %>
					</div>
					
					<div id="loco5check" class="pure-control-group" style="display:none;">
						<label>
							<% if session[:fivecheck] %>
							<%= check_box_tag "fivecheck", "fivecheck", true, :onclick => 'addLoco5()' %>
							<% else %>
							<%= check_box_tag "fivecheck", "fivecheck", false, :onclick => 'addLoco5()' %>
							<% end %>
							
							Add another locomotive
						</label>
					</div>
					
					<div id="loco5num" class="pure-control-group" style="display:none;">
						<label><%= f.label(:loconumber5, "Locomotive # 5") %></label>
						<% if session[:report] %>
						<%= f.text_field(:loconumber5, :value => session[:report][:loconumber5]) %>
						<% else %>
						<%= f.text_field(:loconumber5) %>
						<% end %>
					</div>
					
					<div id="loco5type" class="pure-control-group" style="display:none;">
						<label><%= f.label(:locotype5, "Locomotive Type 5") %></label>
						<% if session[:report] %>
						<%= f.text_field(:locotype5, :value => session[:report][:locotype5]) %>
						<% else %>
						<%= f.text_field(:locotype5) %>
						<% end %>
					</div>
					
					<div id="loco5railroad" class="pure-control-group" style="display:none;">
						<label><%= f.label(:railroad5, "Locomotive Railroad 5") %></label>
						<% if session[:railroad5] %>
							<% if Report::RAILROAD_LIST.include?(session[:railroad5]) %>
							<%= select_tag :railroad5, options_for_select(Report::RAILROAD_LIST, session[:railroad5]) %>
							<% else %>
							<%= select_tag :railroad5, options_for_select(Report::RAILROAD_LIST, "Other") %>
							<% end %>
						<% else %>
						<%= select_tag :railroad5, options_for_select(Report::RAILROAD_LIST) %>
						<% end %>
					</div>
					
					<div id="loco5otherrailroad" class="pure-control-group otherrailroad" style="display:none;">
						<label><%= f.label(:railroad5, "Please enter a railroad") %></label>
						<% if session[:railroad5] %>
							<% if Report::RAILROAD_LIST.exclude?(session[:railroad5]) %>
							<%= f.text_field(:railroad5, :value => session[:railroad5]) %>
							<% else %>
							<%= f.text_field(:railroad5) %>
							<% end %>
						<% else %>
						<%= f.text_field(:railroad5) %>
						<label><%= check_box_tag "railroadsuggestion", "railroadsuggestion", false %>Suggest this railroad</label>
						<% end %>
					</div>
					
					<div id="loco5direction" class="pure-control-group" style="display:none;">
						<label><%= f.label(:direction5, "Face Direction") %></label>
						<% if session[:direction5] %>
						<%= select_tag :direction5, options_for_select(["Front", "Rear"], session[:direction5]) %>
						<% else %>
						<%= select_tag :direction5, options_for_select(["Front", "Rear"]) %>
						<% end %>
					</div>
					
					<div id="loco6check" class="pure-control-group" style="display:none;">
						<label>
							<% if session[:sixcheck] %>
							<%= check_box_tag "sixcheck", "sixcheck", true, :onclick => 'addLoco6()' %>
							<% else %>
							<%= check_box_tag "sixcheck", "sixcheck", false, :onclick => 'addLoco6()' %>
							<% end %>
							Add another locomotive
						</label>
					</div>
					
					<div id="loco6num" class="pure-control-group" style="display:none;">
						<label><%= f.label(:loconumber6, "Locomotive # 6") %></label>
						<% if session[:report] %>
						<%= f.text_field(:loconumber6, :value => session[:report][:loconumber6]) %>
						<% else %>
						<%= f.text_field(:loconumber6) %>
						<% end %>
					</div>
					
					<div id="loco6type" class="pure-control-group" style="display:none;">
						<label><%= f.label(:locotype6, "Locomotive Type 6") %></label>
						<% if session[:report] %>
						<%= f.text_field(:locotype6, :value => session[:report][:locotype6]) %>
						<% else %>
						<%= f.text_field(:locotype6) %>
						<% end %>
					</div>
					
					<div id="loco6railroad" class="pure-control-group" style="display:none;">
						<label><%= f.label(:railroad6, "Locomotive Railroad 6") %></label>
						<% if session[:railroad6] %>
							<% if Report::RAILROAD_LIST.include?(session[:railroad6]) %>
							<%= select_tag :railroad6, options_for_select(Report::RAILROAD_LIST, session[:railroad6]) %>
							<% else %>
							<%= select_tag :railroad6, options_for_select(Report::RAILROAD_LIST, "Other") %>
							<% end %>
						<% else %>
						<%= select_tag :railroad6, options_for_select(Report::RAILROAD_LIST) %>
						<% end %>
					</div>
					
					<div id="loco6otherrailroad" class="pure-control-group otherrailroad" style="display:none;">
						<label><%= f.label(:railroad6, "Please enter a railroad") %></label>
						<% if session[:railroad6] %>
							<% if Report::RAILROAD_LIST.exclude?(session[:railroad6]) %>
							<%= f.text_field(:railroad6, :value => session[:railroad6]) %>
							<% else %>
							<%= f.text_field(:railroad6) %>
							<% end %>
						<% else %>
						<%= f.text_field(:railroad6) %>
						<label><%= check_box_tag "railroadsuggestion", "railroadsuggestion", false %>Suggest this railroad</label>
						<% end %>
					</div>
					
					<div id="loco6direction" class="pure-control-group" style="display:none;">
						<label><%= f.label(:direction6, "Face Direction") %></label>
						<% if session[:direction6] %>
						<%= select_tag :direction6, options_for_select(["Front", "Rear"], session[:direction6]) %>
						<% else %>
						<%= select_tag :direction6, options_for_select(["Front", "Rear"]) %>
						<% end %>
					</div>
					
					<div class="pure-control-group">
						<label><%= f.label(:city, "City") %></label>
						<% if session[:report] %>
						<%= f.text_field(:city, :value => session[:report][:city]) %>
						<% else %>
						<%= f.text_field(:city) %>
						<% end %>
						
					</div>
					
					<div class="pure-control-group">
						<label><%= f.label(:country, "Country")%></label>
						<% if session[:country] %>
						<%= select_tag :country, options_for_select(["United States", "Canada"], session[:country]) %>
						<% else %>
						<%= select_tag :country, options_for_select(["United States", "Canada"]) %>
						<% end %>
						
					</div>
					
					<div class="pure-control-group states">
						<label><%= f.label(:state, "State") %></label>
						<% if session[:state] %>
						<%= select_tag :state, options_for_select(Report::STATE_LIST, session[:state]) %>
						<% else %>
						<%= select_tag :state, options_for_select(Report::STATE_LIST) %>
						<% end %>
					</div>
					
					<div class="pure-control-group provinces" style="display: none;">
						<label><%= f.label(:province, "Province") %></label>
						<% if session[:province] %>
						<%= select_tag :province, options_for_select(Report::PROVINCE_LIST, session[:province]) %>
						<% else %>
						<%= select_tag :province, options_for_select(Report::PROVINCE_LIST) %>
						<% end %>
					</div>
					
					<div class="pure-control-group">
						<label><%= f.label(:direction, "Direction") %></label>
						<% if session[:direction] %>
					    <%= select_tag :direction, options_for_select(Report::DIRECTIONS, session[:direction]) %>
						<% else %>
						<%= select_tag :direction, options_for_select(Report::DIRECTIONS) %>
						<% end %>
						
					</div>
					
					<div class="pure-control-group">
						<label><%= f.label(:time, "Time Seen") %></label>
						<%= f.datetime_select(:time, :order => [:month, :day, :year]) %>
						
					</div>
					
					<div class="pure-control-group">
						<label><%= f.label(:info, "Extra Info") %></label>
						<% if session[:report] %>
						<%= f.text_area(:info, :cols => 40, :rows => 7, :value => session[:report][:info]) %>
						<% else %>
						<%= f.text_area(:info, :cols => 40, :rows => 7) %>
						<% end %>
						<label id="maximumnote">Maximum 200 characters</label>
					</div>
					
					<div class="pure-controls">
						<%= submit_tag("Submit", :class => "pure-button pure-button-primary") %>
					</div>
				</fieldset>
			</div>
		<% end %>
	</div>
	<% session[:report] = nil %>
	<% session[:railroad] = nil %>
	<% session[:railroad2] = nil %>
	<% session[:railroad3] = nil %>
	<% session[:railroad4] = nil %>
	<% session[:railroad5] = nil %>
	<% session[:railroad6] = nil %>
	<% session[:direction] = nil %>
	<% session[:direction2] = nil %>
	<% session[:direction3] = nil %>
	<% session[:direction4] = nil %>
	<% session[:direction5] = nil %>
	<% session[:direction6] = nil %>
	<% session[:state] = nil %>
	<% session[:province] = nil %>
	<% session[:twocheck] = nil %>
	<% session[:threecheck] = nil %>
	<% session[:fourcheck] = nil %>
	<% session[:fivecheck] = nil %>
	<% session[:sixcheck] = nil %>
	<div class="footer">
		<footer>
			<p>&copy; RailAware 2016</p>
		</footer>
	</div>
</div>