<div class="wrapper">	
	<div class="header">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-72046008-1', 'auto');
			  ga('send', 'pageview');
		</script>
		<div class="top">
			<nav>
				<header>
					<%= link_to("",{:action => 'index'}, :class => 'logo') %>
				</header>
				<ul>
					<% if current_user %>
						<%= link_to "Logout", :logout, method: :post %>
						<%= link_to("Report A Train", {:action => 'report'}) %>
					<% else %>
						<%= link_to "Login", :login %>
					<% end %>
					<%= link_to("View Reports", {:action => 'show'}) %>
					<%= link_to("Home", {:action => 'index'}) %>
				</ul>
			</nav>
		</div>
	</div>
	
	<div class="content" id="reportscontainer">
	<% if !flash[:notice].blank? %>
		<div class="notice">
			<% flash[:notice].each_with_index do |message, index| %>
				<p><%= message %></p>
			<% end %>
		</div>
	<% end %>
		
		
		
		<div id="reportlist">
			<div id="datecontrol">
				<div id="begincontainer">
					<label>From:</label>
					<input type="text" name="beginDate" id="beginDate" value="01/01/2016" class="datepicker" />
				</div>
				
				<div id="endcontainer">
					<label>To:</label>
					<input type="text" name="endDate" id="endDate" class="datepicker" />
				</div>
			</div>
			<table id="table_id" class="display">
				<thead>
					<tr>
						<th></th>
						<th>Posted By</th>
						<th>Train ID</th>
						<th>Location</th>
						<th class="mobilehide">Direction</th>
						<th class="mobilehide">Date/Time</th>
					</tr>
				</thead>
				<tbody>
					<% @reports.each do |report| %>
					<tr>
						
						<td class="details-control"></td>
						<td class="reportlistusercolumn">
							<div id="expandableresults">
								<% if current_user %>
									<% if current_user.username == report.username %>
										
										<% if (DateTime.now.beginning_of_day..DateTime.now.end_of_day).cover? report.time %>
											<% logger.debug("true") %>
											<% logger.debug(report.time) %>
											<p class="hidden" id="sameuser"></p>
										<% end %>
									<% else %>
									
										<% if current_user.rating.to_i >= 95 %>
											<% if (DateTime.now.beginning_of_day..DateTime.now.end_of_day).cover? report.time %>
												<% logger.debug("true") %>
												<% logger.debug(report.time) %>
												<p class="hidden" id="trustuser"></p>
											<% end %>
										<% end %>
									<% end %>
								<% end %>
								<p class="hidden" id="reportid"><%= report.id %></p>
								<p class="hidden" id="locomotives"><%= report.locomotives %></p>
								<p class="hidden" id="info"><%= report.info %> </p>
								<p class="hidden" id="direction"><%= report.direction %></p>
								<p class="hidden" id="time"><%= report.time.in_time_zone(report.offset.to_i).strftime("%m/%d/%Y - %H:%M") + " " + report.timezone %></p>
							</div>
							<div class="hidden"><%= report.id %></div>
							<% @u = User.find_by_username(report.username) %>
							<% if @u.rating.to_i < 50 %>
								<div class="pooruser"><%= report.username %></div>
							<% elsif @u.rating.to_i > 80 %>
								<div class="gooduser"><%= report.username %></div>
							<% else %>
								<div class="averageuser"><%= report.username %></div>
							<% end %>
							<% if current_user %>
								<% @v = Vote.where(username: current_user.username, report_id: report.id) %>
								<% if @v.blank? %>
									<% if current_user.username != report.username %>
										<br>
										<p class="hidden" id="voterusername"><%= current_user.username %></p>
										<div class="vbutton" id="up"><%= image_tag('up.png', :size => '20x20', :alt => 'Up') %></div>
										<div class="vbutton" id="down"><%= image_tag('down.png', :size => '20x20', :alt => 'Down') %></div>
									<% end %>	
								<% end %>
							
							<% end %>
						</td>
						<td class="tablecenter"><%= report.trainnumber %> </td>
						<td class="tablecenter"><%= report.location %> </td>
						<td class="mobilehide tablecenter"><%= report.direction %> </td>
						<td class="mobilehide tablecenter"><%= report.time.in_time_zone(report.offset.to_i).strftime("%m/%d/%Y - %H:%M") + " " + report.timezone %> </td>
					</tr>
					
					<% end %>
				</tbody>
			</table>
		</div>
		<p id="viewreportsfootnotes">* '<<' Indicates locomotive is facing forward, or the direction of travel. '>>' Indicates locomotive is facing backwards, or the opposite direction of travel.</p>
	</div>
	<div class="footer">
		<footer>
			<p>&copy; RailAware 2016</p>
			<div class="contact">
				<%= link_to("","https://www.facebook.com/RailAware/", :class => 'fb') %>
				<%= mail_to "railaware@outlook.com", "", :class => 'mail' %>
			</div>
		</footer>
	</div>
	
	
	
	
	
</div>