<div class="wrapper">	
	<div class="header">
		<div class="top">
			<nav>
				<header>
					<%= link_to("Railaware", {:action => 'index'}, :class => 'logo') %>
				</header>
				<ul>
					<%= link_to("Home", {:action => 'index'}) %>
					<%= link_to("View Reports", {:action => 'show'}) %>
					<% if current_user %>
						<%= link_to("Report A Train", {:action => 'report'}) %>
						<%= link_to "Logout", :logout, method: :post %>
					<% else %>
						<%= link_to "Login", :login %>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
	
	<div class="content" id="reportscontainer">
	<% if !flash[:notice].blank? %>
		<div class="notice">
			<% flash[:notice].each_with_index do |message, index| %>
				<p><%= message %></p>
			<% end %>
		</div>
	<% end %>
		
		
		
		<div id="reportlist">
			<div id="datecontrol">
				<div id="begincontainer">
					<label>From:</label>
					<input type="text" name="beginDate" id="beginDate" value="01/01/2016" class="datepicker" />
				</div>
				
				<div id="endcontainer">
					<label>To:</label>
					<input type="text" name="endDate" id="endDate" class="datepicker" />
				</div>
			</div>
			<table id="table_id" class="display">
				<thead>
					<tr>
						<th></th>
						<th>Posted By</th>
						<th>Train Number</th>
						<th>Location</th>
						<th class="mobilehide">Direction</th>
						<th class="mobilehide">Date/Time</th>
					</tr>
				</thead>
				<tbody>
					<% @reports.each do |report| %>
					<tr>
						
						<td class="details-control"></td>
						<td class="reportlistusercolumn">
							<div id="expandableresults">
								<p class="hidden" id="loconumber"><%= report.loconumber %> </p>
								<p class="hidden" id="locotype"><%= report.locotype %> </p>
								<p class="hidden" id="railroad"><%= report.railroad %> </p>
								<p class="hidden" id="additional"><%= report.additional %> </p>
								<p class="hidden" id="info"><%= simple_format(report.info) %> </p>
								<p class="hidden" id="direction"><%= report.direction %></p>
								<p class="hidden" id="time"><%= report.time.strftime("%m/%d/%Y - %H:%M") + " " + report.timezone %></p>
							</div>
							<div class="hidden"><%= report.id %></div>
							<% @u = User.find_by_username(report.username) %>
							<% if @u.rating.to_i < 50 %>
								<div class="pooruser"><%= report.username %></div>
							<% elsif @u.rating.to_i > 80 %>
								<div class="gooduser"><%= report.username %></div>
							<% else %>
								<div class="averageuser"><%= report.username %></div>
							<% end %>
							<% if current_user %>
								<% @v = Vote.where(username: current_user.username, report_id: report.id) %>
								<% if @v.blank? %>
									<% if current_user.username != report.username %>
										<br>
										<div class="vbutton" id="up"><%= image_tag('up.png', :size => '20x20', :alt => 'Up') %></div>
										<div class="vbutton" id="down"><%= image_tag('down.png', :size => '20x20', :alt => 'Down') %></div>
									<% end %>	
								<% end %>
							
							<% end %>
						</td>
						<td class="tablecenter"><%= report.trainnumber %> </td>
						<td class="tablecenter"><%= report.location %> </td>
						<td class="mobilehide tablecenter"><%= report.direction %> </td>
						<td class="mobilehide tablecenter"><%= report.time.strftime("%m/%d/%Y - %H:%M") + " " + report.timezone %> </td>
					</tr>
					
					<% end %>
				</tbody>
			</table>
		</div>
		<p id="viewreportsfootnotes">* '<<' Indicates locomotive is facing forward, or the direction of travel. '>>' Indicates locomotive is facing backwards, or the opposite direction of travel.</p>
	</div>
	
	<div class="footer">
		<footer>
			<p>&copy; RailAware 2016</p>
		</footer>
	</div>
	
	
	
	
	
</div>