<div class="wrapper">	
	<div class="header">
		<div class="top">
			<nav>
				<header>
					<%= link_to("Railaware", {:action => 'index'}, :class => 'logo') %>
				</header>
				<ul>
					<%= link_to("Home", {:action => 'index'}) %>
					<%= link_to("View Reports", {:action => 'show'}) %>
					<% if current_user %>
						<%= link_to("Report A Train", {:action => 'report'}) %>
						<%= link_to "Logout", :logout, method: :post %>
					<% else %>
						<%= link_to "Login", :login %>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
	
	<div class="content" id="reportscontainer">
	<% if !flash[:notice].blank? %>
		<div class="notice">
			<% flash[:notice].each_with_index do |message, index| %>
				<p><%= message %></p>
			<% end %>
		</div>
	<% end %>
		<%= stylesheet_link_tag("http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css") %>
		<%= stylesheet_link_tag("https://cdn.datatables.net/responsive/2.0.0/css/responsive.dataTables.min.css") %>
		<%= javascript_include_tag("https://cdn.datatables.net/1.10.7/js/jquery.dataTables.js") %>
		<%= javascript_include_tag("https://cdn.datatables.net/responsive/2.0.0/js/dataTables.responsive.min.js") %>
		<div id="reportlist">
			<table id="table_id" class="display">
				<thead>
					<tr>
						<th>Posted By</th>
						<th>Train Number</th>
						<th>Locomotive Number</th>
						<th>Locomotive Type</th>
						<th>Locomotive Railroad</th>
						<th>Additional*</th>
						<th>Location</th>
						<th>Direction</th>
						<th>Date/Time</th>
						<th>Other Info</th>
					</tr>
				</thead>
				<tbody>
					<% @reports.each do |report| %>
					<tr>
						<td class="reportlistusercolumn">
							<div class="hidden"><%= report.id %></div>
							<div><%= report.username %></div>
							<% if current_user %>
								<% @v = Vote.where(username: current_user.username, report_id: report.id) %>
								<% if @v.blank? %>
									<div class="vbutton" id="up"><%= image_tag('up.png', :size => '20x20', :alt => 'Up') %></div>
									<div class="vbutton" id="down"><%= image_tag('down.png', :size => '20x20', :alt => 'Down') %></div>
								<% end %>
							
							<% end %>
						</td>
						<td><%= report.trainnumber %> </td>
						<td><%= report.loconumber %> </td>
						<td><%= report.locotype %> </td>
						<td><%= report.railroad %> </td>
						<td><%= report.additional %> </td>
						<td><%= report.location %> </td>
						<td><%= report.direction %> </td>
						<td><%= report.time %> </td>
						<td><%= report.info %> </td>
					</tr>
					
					<% end %>
				</tbody>
			</table>
		</div>
		<p id="viewreportsfootnotes">* '<<' Indicates locomotive is facing forward, or the direction of travel. '>>' Indicates locomotive is facing backwards, or the opposite direction of travel.</p>
	</div>
	
	<div class="footer">
		<footer>
			<p>&copy; RailAware 2015</p>
		</footer>
	</div>
	
	
	
	
	
</div>